

@media (max-width: 767px){

  #ha

  #menu{
    position: fixed;
    left: 100%;
    gap: 0;
    flex-direction: column;
    text-align: center;
    background-color: black;
    width: 100%;
    transition: 0.3s;

  }





}